<% include layout %>
<script src="/Scripts/App/AngularControllers/createEventController.js"></script>
<script src="/Scripts/App/Classes/Event.js"></script>
<script src="/Scripts/App/Classes/DbContext.js"></script>
<script>
    var Event = new Event();
</script>

<div ng-controller="CreateEventController as c" class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div>
    <h3>Create An Event</h3>
        <table class="table table-striped">
            <tr>
                <td><b>Event Name</b></td>
                <td><input type="text" class="input" ng-model="Event.eventName"></td>
            </tr>
            <tr>
                <td><b>Tag</b></td>
                <td><input type="text" class="input" ng-model="Event.tag"></td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td><input type="text" class="input" ng-model="Event.date"></td>
            </tr>
            <tr>
                <td><b>Time</b></td>
                <td><input type="text" class="input" ng-model="Event.time"></td>
            </tr>
            <tr>
                <td><b>Location</b></td>
                <td><input type="text" class="input" ng-model="Event.location"></td>
            </tr>
            <tr>
                <td><b>Invitees</b></td>
                <td><input type="text" class="input" ng-model="Event.invitees"></td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td><input type="text" class="input" ng-model="Event.description"></td>
            </tr>
        </table>
        <input type="button" class="btn" value="Create Event" ng-click="c.CreateEvent(Event.eventName, Event.tag, Event.date, Event.time, Event.location, Event.invitees, Event.description)">
        <input type="button" class="btn" value="Cancel" ng-click="c.Cancel()">
    </div>
</div>