<input hidden="hidden" value="{{item.value[0]}}">
<table class="table table-striped">
    <tr>
        <td colspan="2">
            <h4>{{item.value[1]}}</h4>
            <button class="btn-xs" id="quitEventButtonValue"></button>
            <a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{item.value[1]}}&dates={{item.value[3]}}/{{item.value[3]}}&details={{item.value[6]}}&location={{item.value[4]}}&sf=true&output=xml" target="_blank"><button class="btn-xs">Add to calendar</button></a>
            <!-- time format must be yyyymmddThhmmssZ/yyyymmddThhmmssZ (from/to) -->
        </td>
    </tr>
    <tr>
        <td><b>Date/Time</b></td>
        <td>{{item.value[3]}}</td>
    </tr>
    <tr>
        <td><b>Location</b></td>
        <td>
            {{item.value[4]}}
            <a ng-href="https://www.google.com/maps/place/{{item.value[4]}}" target="_blank"><button class="btn-xs">Map</button></a>
        </td>
    </tr>
    <tr>
        <td><b>Description</b></td>
        <td>{{item.value[6]}}</td>
    </tr>
    <tr>
        <td><b>Event Host</b></td>
        <td>{{item.value[7]}}</td>
    </tr>
    <tr>
        <td><b>Participants</b></td>
        <td>{{item.value[5]}}</td>
    </tr>
</table>