<% include layout %>
<script src="/Scripts/App/AngularControllers/homeController.js"></script>

<div ng-controller="HomeController" class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <p>
        <div class="form-group">
            <input type="text" ng-model="searchKeyword" class="form-control" placeholder="Type keywords here" autofocus>
        </div>
        <div class="text-right">
                <button class="btn" ng-click="SearchEvents()">Search</button>
                <a href="/createevent"><button class="btn">+</button></a>
        </div>
    </p>

    <hr>

    <div ng-show="eventSearched">
        <h3>Events Searched</h3>
        <div ng-repeat="item in searchedEventList">
            <% include eventListForm %>
        </div>
        <div ng-show="noSearchResult" ng-hide="eventsSearched">
            <h4 class="h5 text-center">No Events Found</h4>
        </div>
    <hr>
    </div>

    <div>
        <h3>Recommended Events</h3>
        
    </div>
    <hr>
</div>

<script>
    var eventHost = document.getElementById('eventHostNameText').innerHTML;
    var loggedInUser = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    
    console.log(eventHost);
    console.log(loggedInUser);

    if (eventHost === loggedInUser) {
        document.getElementById('quitEventButtonValue').innerHTML = '';
    } else {
        document.getElementById('quitEventButtonValue').innerHTML = 'Join';
    }
</script>

