<!DOCTYPE html>
<html>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/App/app.js"></script>
    <script src="/Scripts/App/AngularServices/angularService.js"></script>
    <script src="/Scripts/jquery-3.1.0.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/Scripts/ui-bootstrap-tpls-2.1.3.min.js"></script>
<head>
</head>
<body ng-cloak ng-app="EventApp">
<div class="navbar-collapse collapse">
    <header class="navbar navbar-default navbar-fixed-top navbar-inner">
        <nav class="hidden-xs">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                            <li><a href="/" class="navbar-brand">EventApp</a></li>
                            <li><a href="/signin">Sign In</a></li>
                    </ul>
                </div>
        </nav>
    </header>
</div>
</body>
</html>


