<!DOCTYPE html>
<html>
<head>
    <script src="/Scripts/require.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/App/app.js"></script>
    <script src="/Scripts/App/AngularServices/angularService.js"></script>
    <script src="/Scripts/jquery-3.1.0.slim.min.js"></script>
    <script src="/CSS/ie-emulation-modes-warning.js"></script>
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="/CSS/starter-template.css" rel="stylesheet">
    <link href="/CSS/ie10-viewport-bug-workaround.css" rel="stylesheet">
</head>
<body ng-cloak ng-app="EventApp">
<div class="navbar-collapse collapse">
    <header class="navbar navbar-default navbar-fixed-top navbar-inner">
        <nav class="hidden-xs">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                            <li><a href="/" class="navbar-brand">EventApp</a></li>
                            <li id="signInMenu"><a href="/signin">Sign In</a></li>
                            <li id="signUpMenu"><a href="/signup">Sign Up</a></li>
                            <li id="myAccountMenu"><a href="/myaccount">My Account</a></li>
                            <li id="signOutMenu"><a href="/signout">Sign Out</a></li>
                    </ul>
                </div>
        </nav>
    </header>
</div>

<script src="/CSS/bootstrap.min.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script>
        var loggedInUser = document.cookie;
        if (loggedInUser) {
            document.getElementById("signInMenu").style.display = "none";
            document.getElementById("signUpMenu").style.display = "none";
            document.getElementById("myAccountMenu").style.display = "inline";
            document.getElementById("signOutMenu").style.display = "inline";
        } else {
            document.getElementById("signInMenu").style.display = "inline";
            document.getElementById("signUpMenu").style.display = "inline";
            document.getElementById("myAccountMenu").style.display = "none";
            document.getElementById("signOutMenu").style.display = "none";
        }
</script>

</body>
</html>


